apiVersion: 1

datasources:
  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: http://poc-loki:3100
    isDefault: true
    editable: true

  - name: Mimir
    uid: mimir
    type: prometheus
    access: proxy
    url: http://poc-mimir:9009/prometheus
    editable: true

  - name: Tempo
    uid: tempo
    type: tempo
    access: proxy
    url: http://poc-tempo:3200
    editable: true
    jsonData:
      tracesToLogsV2:
        datasourceUid: loki
        filterByTraceID: true
        filterBySpanID: true
        spanStartTimeShift: "-30m"
        spanEndTimeShift: "30m"


