auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  path_prefix: /loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
  # AWS S3 note: Enable Intelligent-Tiering and a 365-day expiration lifecycle rule in AWS Console.
  storage:
    s3:
      region: ${AWS_REGION}
      bucketnames: my-lgtm-loki
      s3forcepathstyle: false

limits_config:
  allow_structured_metadata: true
  retention_period: 168h

schema_config:
  configs:
    - from: "2024-01-01"
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  aws:
    # AWS S3 note: Enable Intelligent-Tiering and a 365-day expiration lifecycle rule in AWS Console.
    region: ${AWS_REGION}
    bucketnames: my-lgtm-loki
    s3forcepathstyle: false

compactor:
  working_directory: /loki/compactor
  retention_enabled: true
  delete_request_store: s3


