multitenancy_enabled: false

server:
  http_listen_port: 9009
  log_level: info

common:
  storage:
    backend: s3
    s3:
      # AWS S3 note: Enable Intelligent-Tiering and a 365-day expiration lifecycle rule in AWS Console.
      endpoint: s3.${AWS_REGION}.amazonaws.com
      region: ${AWS_REGION}
      bucket_name: my-lgtm-mimir

blocks_storage:
  backend: s3
  s3:
    # AWS S3 note: Enable Intelligent-Tiering and a 365-day expiration lifecycle rule in AWS Console.
    endpoint: s3.${AWS_REGION}.amazonaws.com
    region: ${AWS_REGION}
    bucket_name: my-lgtm-mimir
  tsdb:
    dir: /data/tsdb
  bucket_store:
    sync_dir: /data/tsdb-sync

compactor:
  data_dir: /data/compactor
  sharding_ring:
    kvstore:
      store: inmemory

distributor:
  ring:
    kvstore:
      store: inmemory

ingester:
  ring:
    kvstore:
      store: inmemory
    replication_factor: 1

ruler_storage:
  backend: s3
  s3:
    # AWS S3 note: Enable Intelligent-Tiering and a 365-day expiration lifecycle rule in AWS Console.
    endpoint: s3.${AWS_REGION}.amazonaws.com
    region: ${AWS_REGION}
    bucket_name: my-lgtm-mimir-ruler

store_gateway:
  sharding_ring:
    replication_factor: 1
    kvstore:
      store: inmemory


