server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m
  max_block_bytes: 1_000_000
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

storage:
  trace:
    backend: s3
    wal:
      path: /var/tempo/wal
    s3:
      # AWS S3 note: Enable Intelligent-Tiering and a 365-day expiration lifecycle rule in AWS Console.
      bucket: my-lgtm-tempo
      region: ${AWS_REGION}
      forcepathstyle: false


